In [2]:
import polars as pl
from polars import Config

In [3]:
Config.set_fmt_str_lengths(100)

polars.config.Config

##### Leyendo un archivo sin encabezados

In [9]:
df = pl.read_csv(
    source='./Tickets/SinEncabezado.txt',
    separator=';',
    has_header=False,
    schema=
    {
        "TicketID":pl.Utf8,
        "Estado":pl.Utf8,
        "Fecha Creacion":pl.Date,
        "Clasificacion":pl.Int64
    },
    ignore_errors=True
)

df.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ TicketID        ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ date           ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘

In [4]:
df2 = pl.read_csv(
    source='./Tickets/SinEncabezado.txt',
    separator=';',
    has_header=False
)

df2.head()

shape: (5, 4)
┌─────────────────┬──────────┬───────────┬──────────┐
│ column_1        ┆ column_2 ┆ column_3  ┆ column_4 │
│ ---             ┆ ---      ┆ ---       ┆ ---      │
│ str             ┆ str      ┆ str       ┆ i64      │
╞═════════════════╪══════════╪═══════════╪══════════╡
│ WO0000004122687 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122649 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122502 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122513 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
│ WO0000004122741 ┆ Cerrado  ┆ 1/06/2022 ┆ 3        │
└─────────────────┴──────────┴───────────┴──────────┘

In [7]:
#Renombrando columnas
df2=df2.rename({
    'column_1':'TicketID',
    'column_2':'Estado',
    'column_3':'Fecha Creacion',
    'column_4':'Clasificacion'
})

df2.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ TicketID        ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ str            ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 1/06/2022      ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘

In [12]:
df2=df2.with_columns(
    pl.col('Fecha Creacion').str.to_date('%d/%m/%Y')
)

SchemaError: invalid series dtype: expected `String`, got `date`

In [13]:
df2.head()

shape: (5, 4)
┌─────────────────┬─────────┬────────────────┬───────────────┐
│ TicketID        ┆ Estado  ┆ Fecha Creacion ┆ Clasificacion │
│ ---             ┆ ---     ┆ ---            ┆ ---           │
│ str             ┆ str     ┆ date           ┆ i64           │
╞═════════════════╪═════════╪════════════════╪═══════════════╡
│ WO0000004122687 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122649 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122502 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122513 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
│ WO0000004122741 ┆ Cerrado ┆ 2022-06-01     ┆ 3             │
└─────────────────┴─────────┴────────────────┴───────────────┘